nav {
  ul {
    display: flex;
  }

  li {
    display: inline-block;
    padding: 0 12px;
    a {
      color: #fff;
      &.navbar__item--active {
        color: #ffb7e9;
        font-weight: bold;
      }
    }
  }
}
