<section
  *ngIf="movie && !movie.Error; else errorMessageTemplate"
  aria-label="Movie card"
>
  <a
    routerLink="/movie-detail"
    [queryParams]="{ movieId: movie.imdbID }"
    href="javascript:void(0)"
    class="movie-card__link"
    ><div class="movie-card">
      <img alt="Poster of a movie" [src]="movie.Poster" />
      <p class="movie-card__title">{{ movie.Title }}</p>
      <p class="movie-card__year">{{ movie.Year }}</p>
    </div></a
  >
</section>

<ng-template #errorMessageTemplate>
  <p>{{ movie?.Error }}</p></ng-template
>
