@import "src/app/scss/variables/variables";

.movie-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: 3px solid $primary-color;
  border-radius: 5px;
  cursor: pointer;

  &__link {
    img {
      width: 100%;
    }
  }

  &__title {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: $secondary-color;
  }

  &__year {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: $primary-color;
  }
}
